* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

* {
    font-family: "SFProText-Regular";

}
/*Message*/
button{
    background-color: transparent;
    cursor: pointer;
}
.btn{
position: fixed;
right: 45px;
bottom: 45px;
width: 60px;
height: 60px;
background-color: #6ebb20;
z-index: 100;
border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 0.5s;
border-color: transparent;

}

.btn:hover,
.btn.active{
background-color: #15334a;
cursor: pointer;
}

/**/

header{
    position: sticky;
    top: 0;
    background-color: white;
    
    z-index: 55555;
}
.container2{
    position: sticky;
    top: 0;
}
#header {
    border-bottom: 1px solid #e6ebed;
   
}

.header-left {
    display: flex;
    align-items: center;
}

#header .container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

}

.logotext {
    margin-left: 25px;
}

.logotext #Text-a {
    font-size: 18px;


    color: #2e384d;
}

.logotext #Text-2 {

    font-size: 18px;


    color: #adb6bf;
}

.infoicon a {
    font-size: 16px;
    color: #15334a;
    margin-left: 15px;
}

.serchbox {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.call img {
    width: 51px;
    height: 24px;
    margin-left: 15px;
    position: relative;
    top: 4px;
}

.menu {
    width: 1170px;
    margin: 0 auto;
}

.topmenu {
    display: flex;
    list-style-type: none;
    padding: 15px;

}

.topmenu li {
    margin-top: 25px;
    margin-right: 35px;

}

.topmenu li a {
    color: black;
}

.topmenu li a:hover {
    color: #90b561;
}
.container2{
    z-index: 4444;
}
/*Banner*/
.banner{
    width: 100%;
    height: 350px;
    display: flex;   
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(275deg, #6ebb20, #129450);
}

.img img{
    
    width: 300px;
    height: 266px;
    object-fit: contain;
}
.banner-left{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center
}
.text h1{
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: white;
    margin-bottom: 50px;
    margin-left: 50px;
}

.text ul>li{
    list-style-type: none;
}
.text ul>li>p{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff !important;
    opacity: 0.5;
}
.text ul>li>strong{
    margin-top: 5px;
    font-size: 25.2px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: white;
}
.list{
    display: flex;
 
   
}
.list li{
    margin-left: 50px;
}


/*Main*/
main{
    width: 100%;
    height: 100%;
}
.content-top{
width: 70%;
height: 400px;
display: flex;
margin: 50px auto;

}

.list-2{
    width: 100%;
  
    border-radius: 2px;
    border: solid 1px #eaecee;
    background-color: #f8fafb;
    height: 150px;
    display: flex;
    align-items: center;
}
.list-2 li> span
{
    width: 48px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 4px 16px 0 rgba(191, 197, 210, 0.5);
    background-color: #5e687d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    margin-right: 24px;
}
.list-2 p{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #708390;
}
.list-2 strong{
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2e384d;
    font-family: 'SFProText-Bold';
}
.list-2 li {

display: flex;
align-items: center;
    width: 100%;
    padding-left: 100px;
}
.content-top >ul>li{
    height: 100%;
    border-right: 1px solid #eaecee;
}






/*Footer*/

footer {
    padding: 50px;
    background-color: #f8fafb;
    margin-top: 50px;
}

.footer-top {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6ebed;
}

.footer-icon img {
    width: 76px;
    height: 36px;

}

.footer-center {
    width: 70%;
    margin: 0 auto;
}

.footer_menu {
    display: flex;
    justify-content: space-between;
}

.footer_menu li {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.footer-text1 {
    margin-top: 33px;
    align-items: flex-start;
    flex-direction: column;
}

.footer_menu li h3,
.footer_menu li h3 a {
    opacity: 0.6;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #15334a;
}

.footer_menu li>a,
.footer_menu li p {
    opacity: 0.6;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: #15334a;
    max-width: 176px;
}

.footer_menu li>a {
    color: black;
}
.footer-bottom{
    display: flex;
    justify-content: flex-end;
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid #e6ebed;
    padding-bottom: 15px;
}
.footer-bottom-right i{
font-size: 50px;
margin-left: 25px;
color: gray;

}
.footer-bottom-right i:hover{
    color: black;
    }
    .footer-bottom-end{
        margin-top: 50px;
display: flex;
justify-content: space-around;
    }
    .end-left p{
        opacity: 0.4;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        letter-spacing: normal;
        color: #15334a  
    }
    .end-right  i{
      font-size: 30px;
      width: 70px;
      color: #708390;
    }
    .end-right a :hover{
        color: black;
    }
