* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   
}
*{
    font-family: SFProText-Regular;
}

/*Font*/
@font-face{
    font-family: 'SFProText-Regular';
    src: url(/font/FontsFree-Net-SFProText-Regular.ttf);

}
@font-face{
    font-family: 'SFProText-Semibold';
    src: url(/font/FontsFree-Net-SFProText-Semibold\ \(1\).ttf);
}




#header {
    border-bottom: 1px solid #e6ebed;
}
.header-left{
    display: flex;
    align-items: center;
}
#header .container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

}

.logotext {
    margin-left: 25px;
}

.logotext #Text-a {
    font-size: 18px;
   
   
    color: #2e384d;
}

.logotext #Text-2 {

    font-size: 18px;
    
  
    color: #adb6bf;
}

.infoicon a {
    font-size: 16px;
    color: #15334a;
    margin-left: 15px;
  
}

.serchbox {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.call img {
    width: 51px;
    height: 24px;
    margin-left: 15px;
}

.menu{
    width:1170px;
    margin:0 auto;
}

.topmenu {
    display: flex;
    list-style-type: none;
    padding: 15px;

}

.topmenu li {
    margin-top: 25px;
    margin-right: 35px;

}

.topmenu li a {
    color: black;
}

.topmenu li a:hover {
    color: #90b561;
}
/* Main*/

.banner{
    width: 100%;
  height: 300px;
    background-image: linear-gradient(275deg, #6ebb20, #129450);
display: flex;
justify-content: space-evenly;
}
.banner-text{
    padding-top: 50px;
}
.banner-text h1{
    font-size: 36px;
    color: #fff;
    
}
.banner-text p{
   
    font-family: 'SFProText-Light';
    margin-top: 15px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color:#fff;

}
.banner img{
    width: 300px;
height: 300px;
}
/*Content*/

.main-content{
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px auto;
   
}
.content{
width: 50%;

margin-top: 25px;
/* margin: 50px auto; */

}
.content-img {
width: 500px;
height: 200px;
}
.content-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-text {
    width: 500px;
    height: 65px;
    background-color: #eaeef0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 25px
}
.content-text h3{
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #2e384d;
}
.content-list{
width: 500px;
height: 200px;
flex-wrap: wrap;
background-color: #f8fafb
}
.content-list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.content-list ul li{
    margin-top: 15px;
    padding-right: 35px;
    list-style-type: none;
}
.content-list .p1{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #708390;
}
.content-list strong{
    margin-top: 5px;
    font-size: 25.2px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #2e384d
}
.list-1{
    width: 800px;
  
    margin-top: 10px;
    padding-left: 39px;
}
.list-1 .p2{
        font-size: 14px;
        color: #2e384d;
}
.btn{
  margin-top: 25px;
  margin-left: 25px;
}
.btn .btn1{
    background-color: #6ebb20;
    border: 1px solid transparent;
    color: #ffffff;
    margin-right: 16px;
    margin-top: 7px;
    border-radius: 6px;
    border: solid 1px #e6ebed;
    padding: 15px 52px;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: #708390;
    transition: all 0.5s;
    color:white;
}
.btn1:hover{
    background-color: #2e384d;
}
.btn .btn2{
    margin-top: 7px;
    border-radius: 6px;
    border: solid 1px #e6ebed;
    padding: 15px 52px;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: #708390;
    transition: all 0.5s;
}
.btn2:hover{
    color: #ffffff;
    border-color: #c4ccd1;
    background-color: #c4ccd1;
}

/*Mobile*/
.main-mobile {
    width: 80%;
    background-color: #f8fafb;
    display: flex;
    margin: 40px auto;
    padding-left: 15px;
    align-items: center;
    

}

.main-mobile h4 {
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #2e384d;
}

.main-mobile p {
    opacity: 0.6;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #15334a;
    margin-top: 12px;
    width: 90%;
}
/**/
.online{
width: 80%;
height: 500px;
background-color: #f8fafb;
padding: 45px 30px;
margin:  0 auto;

}
.online h3{
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2e384d;
}
.online-top{
width: 100%;
height: 80px;
}
.online-form{
    width: 100%;
    display: flex;
    
}
.online-form input{
    margin-left: 50px;
    width: 80%;
    height: 56px;
    border-radius: 4px;
    border: solid 1px #e6ebed;
    background-color: #ffffff;
     padding: 7px 16px; 
    display: flex;
    justify-content: space-around;
}
.online-input{
    border-bottom: 1px solid #e6ebed;
    padding-bottom: 40px;
}
.online-input input{
    margin-top: 50px;
    margin-left: 50px;
    width: 40%;
    height: 56px;
    border-radius: 4px;
    border: solid 1px #e6ebed;
    background-color: #ffffff;
     padding: 7px 16px; 
}
.form-text{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: #2e384d;
    background-color: #fff;
}
.form-btn{
 float: right;
 margin-top: 50px;
    background-color: #6ebb20;
    border-radius: 5px;
    width: 50%;
    height: 56px;
    padding: 15px 222px;
}
.form-btn a{
    width: 400px;
    font-size: 21px;
    text-align: center;
    color: #ffffff;
   
    transition: all 0.5s;
}
.form-btn:hover {
    background-color: #2e384d;
    color: #fff;
}


/*Footer*/
footer {

    padding: 50px;
    background-color: #f8fafb;
    margin-top: 50px;
}

.footer-top {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6ebed;
}

.footer-icon img {
    width: 76px;
    height: 36px;

}

.footer-center {
    width: 70%;
    margin: 0 auto;
}

.footer_menu {
    display: flex;
    justify-content: space-between;
}

.footer_menu li {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.footer-text1 {
    margin-top: 33px;
    align-items: flex-start;
    flex-direction: column;
}

.footer_menu li h3,
.footer_menu li h3 a {
    opacity: 0.6;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #15334a;
}

.footer_menu li>a,
.footer_menu li p {
    opacity: 0.6;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: #15334a;
    max-width: 176px;
}

.footer_menu li>a {
    color: black;
}
.footer-bottom{
    display: flex;
    justify-content: flex-end;
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid #e6ebed;
    padding-bottom: 15px;
}
.footer-bottom-right i{
font-size: 50px;
margin-left: 25px;
color: gray;

}
.footer-bottom-right i:hover{
    color: black;
    }
    .footer-bottom-end{
        margin-top: 50px;
display: flex;
justify-content: space-around;
    }
    .end-left p{
        opacity: 0.4;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        letter-spacing: normal;
        color: #15334a  
    }
    .end-right  i{
      font-size: 30px;
      width: 70px;
      color: #708390;
    }
    .end-right a :hover{
        color: black;
    }