* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

* {
    font-family: "SFProText-Regular";

}
header{
    position: sticky;
    top: 0;
    background-color: white;
}
.container2{
    position: sticky;
    top: 0;
}
#header {
    border-bottom: 1px solid #e6ebed;
 
}

.header-left {
    display: flex;
    align-items: center;
}

#header .container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

}

.logotext {
    margin-left: 25px;
}

.logotext #Text-a {
    font-size: 18px;


    color: #2e384d;
}

.logotext #Text-2 {

    font-size: 18px;


    color: #adb6bf;
}

.infoicon a {
    font-size: 16px;
    color: #15334a;
    margin-left: 15px;
}

.serchbox {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.call img {
    width: 51px;
    height: 24px;
    margin-left: 15px;
    position: relative;
    top: 4px;
}

.menu {
    width: 1170px;
    margin: 0 auto;
}

.topmenu {
    display: flex;
    list-style-type: none;
    padding: 15px;

}

.topmenu li {
    margin-top: 25px;
    margin-right: 35px;

}

.topmenu li a {
    color: black;
}

.topmenu li a:hover {
    color: #90b561;
}
/*Banner*/
.banner{
    background-image: linear-gradient(275deg, #6ebb20, #129450);
    width: 100%;
    height: 300px;
}
.banner h1{
   padding-left: 150px;
   padding-top: 100px;
    width: 350px;
    height: 350px;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: white;
}
/*Main*/
main{
    width: 100%;
    display: flex;
    font-family: "SFProText-Regular";
}
.content{
    margin: 50px auto;
    width: 90%;
 
}
.center-pro{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.content-pro{
width: 25%;
height: 200px;
background-color: #f8fafb;
padding: 40px;
margin-left: 50px;


}
.svg1 {
    display: flex;
    
}
.svg1 svg{
    margin-top: 7px;
    padding-top: 25 px;
    cursor: pointer;
}
.content-pro h4{
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #4aa949;
    margin-right: 15px;
  
   
}
.content-pro >p>a{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #15334a;
}
.content-pro p{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #15334a;
}
.content-1{
    width: 30%;
height: 200px;
padding: 40px;

}
.content-center{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.content-2 {
    margin-top: 20px;
    width: 30%;
    height: 200px;
    padding: 26px 32px;
  
}
.content-2 p{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #15334a;
}
.content-2 > p > a{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #15334a;
    text-decoration: underline;
  
}
.content-center h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #4aa949;
    margin-right: 15px;
  
   
}
.content-3 {
    margin-top: 20px;
    width: 80%;
    height: 200px;
    padding: 26px 32px;
    margin: 20px auto;
  
}
.content-3 p{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #15334a;
}
.content-3 > p > a{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #15334a;
  
}
.content-3 h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #4aa949;
    margin-right: 15px;
}
/* Footer*/
footer {
    padding: 50px;
    background-color: #f8fafb;
    margin-top: 50px;
    color: #15334a;
}

.footer-top {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    color: #15334a;
    justify-content: space-between;
    border-bottom: 1px solid #e6ebed;
}

.footer-icon img {
    width: 76px;
    height: 36px;

}

.footer-center {
    width: 70%;
    margin: 0 auto;
}

.footer_menu {
    display: flex;
    justify-content: space-between;
}

.footer_menu li {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.footer-text1 {
    margin-top: 33px;
    align-items: flex-start;
    flex-direction: column;
}

.footer_menu li h3,
.footer_menu li h3 a {
    opacity: 0.6;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #15334a;
}

.footer_menu li>a,
.footer_menu li p {
    opacity: 0.6;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: #15334a;
    max-width: 176px;
}
.footer_menu li:hover{
    color: black;
}
.footer_menu li>a {
    color: black;
}
.footer-bottom{
    display: flex;
    justify-content: flex-end;
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid #e6ebed;
    padding-bottom: 15px;
}
.footer-bottom-right i{
font-size: 50px;
margin-left: 25px;
color: gray;

}
.footer-bottom-right i:hover{
    color: black;
    }
    .footer-bottom-end{
        margin-top: 50px;
display: flex;
justify-content: space-around;
    }
    .end-left p{
        opacity: 0.4;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        letter-spacing: normal;
        color: #15334a  
    }
    .end-right  i{
      font-size: 30px;
      width: 70px;
      color: #708390;
    }
    .end-right a :hover{
        color: black;
    }